.slider-container {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider-track {
    display: flex;
    transition: transform 0.7s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 15px;
    font-size: 22px;
    color: #ab956d;
    background-color: #000000;
    cursor: pointer; /* Cambia el cursor a un puntero */
    transition: background-color 0.3s ease, color 0.3s ease; /* Agrega una transición suave */
}

/* Efecto hover para los slides */
.slide:hover {
    background-color: #1a1a1a; /* Cambia el color de fondo al pasar el mouse */
    color: #d4b37a; /* Cambia el color del texto al pasar el mouse */
}